body {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  max-width: 800px;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 10px 13px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link-sub-containter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#link-name {
  font-size: 16px;
}

.link-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.experience-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  resize: vertical;
  height: 6rem;
  overflow: auto;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

label {
  font-weight: bold;
  font-size: 13px;
}

.experience-sub-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}

.copy-btn-large {
  padding: 10px 13px;
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
